html
	head
	title Pokemon
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	body
		h1 Pokemon
		block content
		div
			a(href='javascript:history.back()') Go Back
	footer
		div
			h5 Made by Christopher Conley
	script
		include ../../script.js