
<form class="newPokemon" action="<%=action%>" method="POST">
	<div>
		<label for="name">Pokemon Name:</label>
		<input type="text" id="name" name="name">
	</div>
	<div>
		<label for="image">Pokemon Image URL:</label>
		<input type="text" id="image" name="URL">
	</div>
	<button type="submit">Create Pokemon</button>
</form>