<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Pokemon HW</title>
</head>
<body>
	<h1> HELOOOOO </h1>
<!-- <div><%- include(page, {component}) %> -->
</body>
</html>