<!DOCTYPE html>
html
head
	body
		h1 hello dude
		p everyone had a good day today
		div
			h2 but not everyone loves a duuge bug
		quote
			h1 that's alright though
			h2 we all died together
			style(type='text/css')
			ul
				li oh well			}
