<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Pokemon HW</title>
</head>
<body>
	<h1> HELOOOOO </h1>
	<!-- <ul class = "Pokemon">
		<li><% pokemon.name %></li>

	</ul> -->
	<%-include(page,{pkmn})%>
</body>
</html>