
body {
	font-family: pokemon hollow;
	font-size: 20px;
	text-align: center;
	list-style: none;
	background-image: linear-gradient(white, red);
}

h1 {
	font-size: 100px;
}

.data-list {
	list-style: none;
}

.data-name {
	font-size: 50px;
}