<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Pokemon Express</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

	<h1>Pokemon!</h1>

	<div><%- include(page, { data }) %></div>

</body>
</html>