
<!DOCTYPE html>
<html>
<head>
	<title>ANOTHER Pokemon game!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>
<body>
	<%-include('../partials/list.ejs', {pokemon: pokemon})-%>

</body>
</html>