<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon</title>
		<link rel="stylesheet" type="text/css" href="../style.css" />
	</head>
	<body>
		<%- include('../partials/list.ejs', {pokemon: pokemon}) -%>
		<a href="/pokemon/new">Create A New Pokemon</a>
	</body>
</html>
