<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Express HW</title>
	<link rel="stylesheet" type="text/css" href="<%= cssPath %>">
</head>
<body>
<h1>PoKéMoN</h1>
	<div><%- include(page, { component }) %></div>
</body>
</html>