<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css?family=Permanent+Marker"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%- include('../partials/list.ejs', {pokemon: pokemon}) -%>
	</body>
</html>
