<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action='/pokemon' method='POST'>
		<label for='name'>Pokemon Name</label>
		<input id='name' type='text' name='name'>

		<label for='img'>Image URL</label>
		<input id='img' type='text' name='img'>

		<button type='submit'>New Pokemon</button>
	</form>
</body>
</html>

