
<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>
<body>
	<p><%=pokemon.name%></p>
	<img src="<%=pokemon.img%>">
</body>
</html>