<!DOCTYPE html>
<html>
<head>
	<title>pokemon.name</title>
	<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
		<p><%=pokemon.name%></p>
		<img src="<%=pokemon.img%>" alt=<%=pokemon.name%>>
</body>
</html>